@{
    ViewData["Title"] = "AccessServiceDirectly";
}
@inject Web.Services.IService valuesService
<h1>Pass using injection</h1>


<h4>Rand value : @valuesService.GetFirst()</h4>
<h4>Rand value : @valuesService.GetSecond()</h4>

<body>
<h6>Rand Value First : @valuesService.GetFirst()</h6>
<h6>Rand Value Second : @valuesService.GetSecond()</h6>
<h6>Add : </h6>@($"{valuesService.GetFirst()} + {valuesService.GetSecond()} = ")@valuesService.Add()
<h6>Sub : </h6>@($"{valuesService.GetFirst()} - {valuesService.GetSecond()} = ")@valuesService.Sub()
<h6>Mult : </h6>@($"{valuesService.GetFirst()} * {valuesService.GetSecond()} = ")@valuesService.Mult()
<h6>Div : </h6>@($"{valuesService.GetFirst()} / {valuesService.GetSecond()} = ")@valuesService.Div()
</body>
