@model Web.Models.SignUpSec
@{
    ViewBag.Title = "Sign up";
}

<h2>Sign up result</h2>
<dl class="dl-horizontal">
    <dt></dt>
    <dd>@Model.FName</dd>
    <dd>@Model.SName</dd>
    <dd>@Model.born</dd>
    <dd>@Model.Email</dd>
    <dd>@Model.Password</dd>
</dl>
